body{
    background-color: #373e49;
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #feffff;
    margin: 2%;
    padding: 0.5% 2%;

}

#title{
    text-align: center;
    margin: 2% 0;
    color: #feffff
}

#all-mssgs{
    background-color: #dadada;
    width: 80%;
    margin-left: 10%;
    border-radius: 3px;
    box-shadow: 0 0 15px #081d39;
    padding: 10px;
}

.mssg{
    background-color: #8f99ab;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 10px;
}

.mssg:hover{
    margin: 10px 0px;
    box-shadow: 0 0 10px #081d39;
}

.app{
    position: relative;
    bottom: 35px;
    text-align: right;
    color: #144b48;
    margin: 0;
    padding: 0;
}

.header{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.info {
    color:#535f6f;
    margin: 5px 0;
    font-weight: bold;
}

.content {
    font-size: 17px;
}


.link{
    background-color: #C9A6A7;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: black;
    text-decoration: none;
}

.link:hover{
    box-shadow: 0 0 8px black;
}



.nav {
    background-color: #feffff;
}

.nav-link{
    color: #535f6f;
}

.nav-link:hover{
    color: #081d39;
    text-decoration: underline;
}

.logo{
    padding: 10px;
    font-size: 20px;
}

/* .card-body{
    margin-top: 50px;
} */

.px-4{
    width: 300px;
}


#registration-div{
    background-color: #feffff;
    width: 60%;
    margin-left: 2%;
    border-radius: 5px;
    box-shadow: 0 0 15px #081d39;
    padding: 20px 30px;
}

.form-input{
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #081d39;
}

.checkbox{
    margin: 10px 0;
    height: 1rem;
    border-radius: 10px;
    color: #C9A6A7;
    float: right;

}
