body{
    background-color: #373e49;
    margin: 0;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#title{
    text-align: left;
    padding-left: 15%;
    margin: 5% 0;
    color: #feffff
}

#all-mssgs{
    background-color: #dadada;
    width: 80%;
    margin-left: 10%;
    border-radius: 3px;
    box-shadow: 0 0 15px #081d39;
    padding: 10px;
}

.mssg{
    background-color: #8f99ab;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 10px;
}

.mssg:hover{
    margin: 10px 0px;
    box-shadow: 0 0 10px #081d39;
}

.app{
    position: relative;
    bottom: 35px;
    text-align: right;
    color: #144b48;
    margin: 0;
    padding: 0;
}

.header{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
}

.header:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #153563;
    font-weight: bolder;
}

.info {
    color:#535f6f;
    margin: 5px 0;
    font-weight: bold;
}

.content {
    font-size: 17px;
}


.link{
    background-color: #C9A6A7;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
    color: black;
    text-decoration: none;
}

.link:hover{
    box-shadow: 0 0 8px black;
}



.nav {
    background-color: #feffff;
}

.nav-link{
    color: #535f6f;
}

.nav-link:hover{
    color: #081d39;
    text-decoration: underline;
}

.logo{
    padding: 10px;
    font-size: 20px;
}
